config/config.symlink/sublime-text-2/Backup
config/config.symlink/sublime-text-2/Packages/*
!config/config.symlink/sublime-text-2/Packages/FreeMarker
!config/config.symlink/sublime-text-2/Packages/GitGutter
!config/config.symlink/sublime-text-2/Packages/LESS
!config/config.symlink/sublime-text-2/Packages/nginx
!config/config.symlink/sublime-text-2/Packages/SCSS
!config/config.symlink/sublime-text-2/Packages/SublimeLinter
!config/config.symlink/sublime-text-2/Packages/User
config/config.symlink/sublime-text-2/Pristine Packages
vim/vim.symlink/.netrwhist
xmonad/xmonad.symlink/*
!xmonad/xmonad.symlink/xmonad.hs
